{% include 'header.html.twig' %}

<div class="alert alert-warning">
  <h4><strong>Warning!</strong> Please fill out the blank(s).</h4>
</div>
<br>
<a href="/"><button class="bg-primary">Home</button></a>

{% include 'footer.html.twig' %}
